In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
import pandas as pd
path = '/content/drive/MyDrive/Colab Notebooks/ObesityDataSet_raw_and_data_sinthetic.csv'
df = pd.read_csv(path)

In [13]:
df.head()

   Gender   Age  Height  ...        CALC                 MTRANS           NObeyesdad
0  Female  21.0    1.62  ...          no  Public_Transportation        Normal_Weight
1  Female  21.0    1.52  ...   Sometimes  Public_Transportation        Normal_Weight
2    Male  23.0    1.80  ...  Frequently  Public_Transportation        Normal_Weight
3    Male  27.0    1.80  ...  Frequently                Walking   Overweight_Level_I
4    Male  22.0    1.78  ...   Sometimes  Public_Transportation  Overweight_Level_II

[5 rows x 17 columns]

In [16]:
no_rows = len(df.axes[0])
no_rows

2111

In [17]:
no_col = len(df.axes[1])
no_col

17

In [18]:
df['NObeyesdad']

0             Normal_Weight
1             Normal_Weight
2             Normal_Weight
3        Overweight_Level_I
4       Overweight_Level_II
               ...
2106       Obesity_Type_III
2107       Obesity_Type_III
2108       Obesity_Type_III
2109       Obesity_Type_III
2110       Obesity_Type_III
Name: NObeyesdad, Length: 2111, dtype: object

In [22]:
df['NObeyesdad'].value_counts()

Obesity_Type_I         351
Obesity_Type_III       324
Obesity_Type_II        297
Overweight_Level_II    290
Overweight_Level_I     290
Normal_Weight          287
Insufficient_Weight    272
Name: NObeyesdad, dtype: int64

In [23]:
df['CAEC'].value_counts()

Sometimes     1765
Frequently     242
Always          53
no              51
Name: CAEC, dtype: int64

In [24]:
df['MTRANS'].value_counts()

Public_Transportation    1580
Automobile                457
Walking                    56
Motorbike                  11
Bike                        7
Name: MTRANS, dtype: int64

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   object
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB
None

In [26]:
df_1 = pd.get_dummies(df)

In [27]:
df_1

            Age  ...  NObeyesdad_Overweight_Level_II
0     21.000000  ...                               0
1     21.000000  ...                               0
2     23.000000  ...                               0
3     27.000000  ...                               0
4     22.000000  ...                               1
...         ...  ...                             ...
2106  20.976842  ...                               0
2107  21.982942  ...                               0
2108  22.524036  ...                               0
2109  24.361936  ...                               0
2110  23.664709  ...                               0

[2111 rows x 38 columns]

In [28]:
df.describe()

               Age       Height  ...          FAF          TUE
count  2111.000000  2111.000000  ...  2111.000000  2111.000000
mean     24.312600     1.701677  ...     1.010298     0.657866
std       6.345968     0.093305  ...     0.850592     0.608927
min      14.000000     1.450000  ...     0.000000     0.000000
25%      19.947192     1.630000  ...     0.124505     0.000000
50%      22.777890     1.700499  ...     1.000000     0.625350
75%      26.000000     1.768464  ...     1.666678     1.000000
max      61.000000     1.980000  ...     3.000000     2.000000

[8 rows x 8 columns]

In [29]:
df_input = df.copy()

In [31]:
df_input = pd.get_dummies(df_input,columns=["Gender","family_history_with_overweight",
                                          "FAVC","CAEC","SMOKE","SCC","CALC","MTRANS"])
df_input.head()

    Age  Height  ...  MTRANS_Public_Transportation  MTRANS_Walking
0  21.0    1.62  ...                             1               0
1  21.0    1.52  ...                             1               0
2  23.0    1.80  ...                             1               0
3  27.0    1.80  ...                             0               1
4  22.0    1.78  ...                             1               0

[5 rows x 32 columns]

In [32]:
x = df_input.drop(columns=["NObeyesdad"])

In [36]:
y = df_input['NObeyesdad']

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

In [38]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [39]:
clf= DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [40]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9384858044164038

In [41]:
from sklearn import svm

In [42]:
clf = svm.SVC(kernel='linear') 
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [43]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8596214511041009

In [44]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9242902208201893

In [45]:
from sklearn.preprocessing import StandardScaler

In [46]:
from sklearn.tree import DecisionTreeClassifier
clf= DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9416403785488959

In [48]:
ss = StandardScaler()
X_train_scaled = ss.fit_transform(X_train)
X_test_scaled = ss.transform(X_test)
clf= DecisionTreeClassifier()
clf = clf.fit(X_train_scaled,y_train)
y_pred = clf.predict(X_test_scaled)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.944794952681388

In [49]:
clf=RandomForestClassifier(n_estimators=100)
clf.fit(X_train_scaled,y_train)
y_pred=clf.predict(X_test_scaled)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9148264984227129

In [50]:
clf = svm.SVC(kernel='linear') 
clf.fit(X_train_scaled, y_train)
y_pred = clf.predict(X_test_scaled)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9211356466876972

In [51]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train_scaled, y_train)
y_pred = knn.predict(X_test_scaled)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7965299684542587

In [52]:
from sklearn.metrics import classification_report

In [53]:
metrics.classification_report(y_pred,y_test)

'                     precision    recall  f1-score   support\n\nInsufficient_Weight       0.88      0.74      0.81       109\n      Normal_Weight       0.56      0.55      0.55        78\n     Obesity_Type_I       0.77      0.84      0.80       105\n    Obesity_Type_II       0.98      0.91      0.94        91\n   Obesity_Type_III       0.98      0.98      0.98        92\n Overweight_Level_I       0.66      0.71      0.69        83\nOverweight_Level_II       0.72      0.80      0.76        76\n\n           accuracy                           0.80       634\n          macro avg       0.79      0.79      0.79       634\n       weighted avg       0.80      0.80      0.80       634\n'